name: Test Runner Local PEC6

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Prueba runner local
        run: echo "Este job se ejecuta en mi PC local"
